@font-face {
    font-family: "fuente_principal";
    src: url(../fonts/Roboto-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fuente_principal", sans-serif;
}


/* ccs navbar */
header{
    display: flex;
    background-color: #757575;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.encabezado_nav{
    text-decoration: none;
    color: white;
}
.encabezado_nav:hover{
    color:white;
}
.logo{
    width: 100px;
    margin: 0 20px 0 20px
    
}

.logo_texto{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.menu__item{
    display: flex;
    list-style-type: none;
    font-size: 1rem;
}

.menu__item a{
    text-decoration: none;
    color: white;
    
}
ul li a:hover{
    background-color: #000;
    transition: 0.5s ease all ;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}


/* fin flebox nav */


/* INDEX */
/* .main_index{
    /* height: /* 725px */

/* .carrusel{
    display: flex;
    justify-content: space-around;
    background-color: #d4d4d4;
    height: 500px;
    align-items: center;
}*/


.intro_historia{
    background-color: #a5a5a5;
    padding: 50px;
    color: black;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem; 
    font-family: "fuente_principal", sans-serif;
}

.d-block,.w-100{
    height: 700px;

}

footer{
    background-color: #757575;
    display: flex;
    justify-content: space-around;
    min-height: 100px;
}

.footer_logo{
    
    width: 35px;
    height: 35px;
    margin: 10px;
}

.footer_logos{
    display: flex;
    align-items: center;
    
}
.footer_texto{
    display: flex;
    align-items: center;
}

/* historia */
.conteiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6, 200px);
    grid-template-areas: 
        "caja1 caja2 caja2"  
        "caja3 caja3 caja3" 
        "caja5 caja5 caja4"
        "caja5 caja5 caja4"
        "caja7 caja6 caja6" 
        "caja7 caja8 caja8";
    
    width: 70%;
    height: 100%;
    margin: 40px auto 40px;
    font-size: 18px;
    
}

.caja1{
    grid-area: caja1;
    margin: 10px;
}
.caja1_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.caja2{
    grid-area: caja2;
    line-height: 30px;
    text-align: justify;
    align-self: center;
}
.caja3{
    grid-area: caja3;
    margin: 10px;
    align-self: center;
    text-align: justify;
    line-height: 30px;
}
.caja4{
    grid-area: caja4;
    margin: 10px;
}
.caja4_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.caja5{
    grid-area: caja5;
    align-self: center;
    margin: 10px;
    line-height: 35px;
    text-align: justify;
}
.caja6{
    grid-area: caja6;
    margin: 10px;
    align-self: center;
    text-align: justify;
    line-height: 30px;
}
.caja7{
    grid-area: caja7;
    margin: 10px;
}
.caja7_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.caja8{
    grid-area: caja8;
    margin: 10px;
    align-self: center;
    text-align: justify;
    line-height: 30px;
}


/* fin historia */
/* servicios */

#main_servicio{
    width: 1000px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.caja_presentacion_servicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    width: 100%;
    height: 200px;
}
.texto_presentacion_servicio{
    text-align:center;
    padding: 100px;
}
.caja{
    padding: 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 1.2rem;
    text-align: left;
    
}
.caja.a > div{
    padding: 10px;

}
.caja_a_imagen{
    width: 300px;
    border-radius: 5px;
}

.caja.b > div{
    padding: 10px;
}
.caja_b_imagen{
    width: 300px;
    border-radius: 5px;
}
.caja.g{
    width: 100%;
    height: auto;
}
.caja_g_iframe{
    padding: auto;
    width: 100%;
    height: 350px;
}

/* fin servicios */

/* PORTFOLIO */

.encabezado_slider{
    color: #000;
}




/* contacto */



#contacto{
    width: 100%;
    height: 730px;
    background-color: #d4d4d4;
}
.caja_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.caja_imagen{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja_form{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.imagen_form{
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 40px;
}

.items_form{
    margin: 15px;
}

.encabezado_form{
    padding-bottom: 20px;
    text-align: center;
}

form{
    margin-right: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_form{
    margin: 10px;
    padding: 10px;
    
}

.boton_form{

    width: auto;
    height: 40px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.boton_form:hover{
    background-color: #000;
    transition: 0.5s ease all ;
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline;
}


@media screen and (max-width: 480px) {
    /* formulario */
    .caja_imagen{
        display: none;
    }
    form{
        margin: auto;
        background-color: #ffffff4d;
    }
    .caja_contacto{
        background-image: url(../Imagenes/imagen\ contacto.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .items_form{
        margin: 15px;
        font-weight: bold;
    }

    /* footer */
    footer{
        text-align: center;
    }
    /* navbar */
    .logo{
        width: 80px;
        margin: 0 20px 0 20px
    }
    .encabezado_nav{
        display: none;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: auto;
        margin-right: auto;
    }
    /* servicios */
    .caja_presentacion_servicio{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ececec;
        width: 100%;
        height: auto;
    }
    .texto_presentacion_servicio{
        text-align:center;
        padding: 30px;
        font-size: 16px;
    }
    #main_servicio{
        width: 100%;
        height: auto;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .caja{
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        font-size: 1rem;
        text-align: justify;
    }
    /* historia */
    .conteiner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8, auto);
        grid-template-areas: 
            "caja1" 
            "caja2"
            "caja3"
            "caja4"
            "caja5"
            "caja6"
            "caja7"
            "caja8";
        
        width: 70%;
        height: auto;
        margin: 40px auto 40px;
        font-size: 16px;
        
    }
    .caja1{
        grid-area: caja1;
    }
    .caja1_img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .caja2{
        grid-area: caja2;
        line-height: 30px;
        text-align: justify;
        align-self: center;
        margin: 10px;
    }
    .caja3{
        grid-area: caja3;
        margin: 10px;
        align-self: center;
        text-align: justify;
        line-height: 30px;
    }
    .caja4{
        grid-area: caja4;
        margin: 10px;
    }
    .caja4_img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    /* porfolio */
    
}