@font-face {
    font-family: "fuente_principal";
    src: url(../fonts/);
}
@import "./partials/media-queries";
@import "./partials/variables";
@import "./partials/header";
@import "./partials/index";
@import "./partials/footer";
@import "./partials/contacto";
@import "./partials/portfolio";
@import "./partials/servicios";
@import "./partials/historia";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fuente_principal", sans-serif;
}

