#main_historia{
    background-color: $color-principal;
    .conteiner{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(6, 0.5fr);
        grid-template-areas: 
            "caja1 caja2 caja2"  
            "caja3 caja3 caja3" 
            "caja5 caja5 caja4"
            "caja5 caja5 caja4"
            "caja7 caja6 caja6" 
            "caja7 caja8 caja8";
        
        width: 70%;
        height: 100%;
        margin: auto;
        font-size: 18px;
        .caja1{
            grid-area: caja1;
            margin: 10px;
            
            .caja1_img{
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .caja2{
            grid-area: caja2;
            line-height: 30px;
            text-align: justify;
            align-self: center;
        }
        .caja3{
            grid-area: caja3;
            margin: 10px;
            align-self: center;
            text-align: justify;
            line-height: 30px;
        }
        .caja4{
            grid-area: caja4;
            margin: 10px;
            
            .caja4_img{
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .caja5{
            grid-area: caja5;
            align-self: center;
            margin: 10px;
            line-height: 35px;
            text-align: justify;
        }
        .caja6{
            grid-area: caja6;
            margin: 10px;
            align-self: center;
            text-align: justify;
            line-height: 30px;
        }
        .caja7{
            grid-area: caja7;
            margin: 10px;
            
            .caja7_img{
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .caja8{
            grid-area: caja8;
            margin: 10px;
            align-self: center;
            text-align: justify;
            line-height: 30px;
        }
    }
}
