.intro_historia{
    background-color: $color-secundario;
    padding: 50px;
    color: black;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem; 
    font-family: "fuente_principal", sans-serif;
}

.d-block,.w-100{
    height: 700px;

}