$color-principal:#ececec;
$color-secundario:#d4d4d4;
$color-terciario:#a5a5a5;
$color-cuaternario: #757575;
$color-quinto:#363636;

@mixin tamanio-bordes($width,$height,$border,$border-radius){
    width:$width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
}

